<div class="container">
    <div class="row">
        <h3>Add TODo's</h3>
        <div class="col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 div col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">User Id:</label>
                <input class = "form-control" type="text" name="" id="">
            </div>
            <div class="row g-3 div col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Id:</label>
                <input class = "form-control" type="number" name="" id="">
            </div>
            <div class="row g-3 div col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Title:</label>
                <input class = "form-control" type="text" name="" id="">
            </div>
            <div class="row g-3 div col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="" class="form-label">Completed Status:</label>
                <input class = "form-control" type="text" name="" id="">
            </div>
            <div class="row g-3 div col col-12 col-sm-12 col-lg-12 col-xl-12 col-xxl-12">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>
